
            body {
                background: #ffaaee;
                margin: 0;
                padding: 0;
            }
            #screen {
                margin: 0 auto;
                max-height:500px;
                max-width:500px;
                position: relative;
                overflow: hidden;
                
            }
